   body {
       overflow: hidden scroll;
   }
   
   /* Top Navigation */
   
   .top-nav {
       background-color: white;
       position: fixed;
       top: 0;
       width: 100%;
       height: 4rem;
       box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
       z-index: 99;
   }

   .top-nav a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;       
    color: black;
    font-size: 0.8rem;
}

.top-nav a:hover {
    color: palevioletred
}

   ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    min-width: 30rem;
    top: 0.5rem;
    left: 60rem;
   }

  
   /* Landing Image and Intro */

   .landingImage {
    max-width: 100%;
    opacity: 60%;
   }

   .intro {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  h1 {
    margin-left: 2rem;
    letter-spacing: 0.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    }

   h4 {
       max-width: 50rem;
       font-size: 1.4rem;
        line-height: 3rem;
        font-weight: lighter;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     
        text-align: center;
   } 
 
    #letsConnect {
        background-color: #0a0a23;
        border: none;
        border-radius: 30px;
        padding: 15px;
        min-height: 30px;
        min-width: 170px;
        color: #fff;
    }
 
    /* About Me Section */

.aboutMe {
    display: flex;
    padding: 5rem;
}

.aboutPhoto {
     width: auto;
     height: 30rem;
     opacity: 90%;
     flex: 1;

}

.aboutText {
    padding-left: 10rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2rem;
    flex: 1;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9rem;
    font-weight: lighter;
    line-height: 2rem;
}



/* Follow me on Social */

.social {
display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

/* h2 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: lighter;
        text-align: center;
        letter-spacing: 0.1rem;
        font-size: 2.5rem;
} */

.instagramImages {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    width: 90%;
}

.image1, .image2, .image3, .image4, .image5 {
    width: 15rem;
    height: 15rem;
}


#instagramButton {
    background-color: #0a0a23;
    border: none;
    border-radius: 30px;
    padding: 15px;
    min-height: 30px;
    min-width: 140px;
      }

#instagramButton a {
    color: #fff;
    text-decoration: none;
}

/* Experience */

.experience {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h3 {
 
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: normal;
}

.previousJobs {
    display: flex;
    justify-content: space-around;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
}

.job {
    padding: 2rem;
    flex: 1;
}

/* Portfolio */

.project > img {
    width: 20rem;
    height: 20rem;
}

.project:hover {
    transition: .3s ease-in-out;
    opacity: 70%;
    cursor: pointer;
}

.previousProjects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
}


/* Pop Up */

.popUpContainer {
    position: absolute;
  inset: 0px;
  background-color: palevioletred;
  opacity: 0.;
  height: 30rem;
  width: 25rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.popUp {
 position: absolute;
}

.hidden {
    display: none;
}

/* .form {
    width: 30rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    /* z-index: 301;
} */

.formPopup {
    z-index: 1000;
    color: black;
}

/* Typography */

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
}

footer {
    text-align: center;
    margin-top: 2rem;
}
span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.1rem;
}


hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px grey inset;
}